{% extends 'Home/layout/main.html' %}

{% block main %}
    <script>window.onload = getCartItemsCount();</script>

    <div class="navbar">
        <div class="container">
            <div class="navbar-inner">
                <div class="nav-item nav-left">
                    <a href="{% url 'home' %}" class="logo"></a>
                </div>

                <div class="nav-item nav-center">
                    <div class="search-area">
                        <input class="input search-input" type="search" placeholder="Search for an item..." name="search" id="nav-search" onkeyup="search()">

                        <div class="search-results" id="search-results">
                            <div class="search-spinner" id="search-spinner">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div id="search-items"></div>
                            <div class="no-search text-center" id="no-results">
                                <h1><span class="icon-searching-magnifying-glass"></span></h1>
                                <p>Sorry, no results found</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-item nav-right">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'cart' %}" class="btn">
                            <span class="mr-1">Cart</span>
                            <span class="badge badge-dark" id="cart-badge">0</span>
                        </a>

                        <div class="btn-group">
                            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#"><span class="icon-user-shape mr-2"></span> Account</a>
                                <a class="dropdown-item" href="#"><span class="icon-settings-cogwheel-button mr-2"></span> Settings</a>
                                <a class="dropdown-item" href="{% url 'sell' %}"><span class="icon-front-store mr-2"></span> Sell</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}"><span class="icon-change-power-options mr-2"></span> Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                        <span class="btn btn-sm">or</span>
                        <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}