{% extends 'Home/layout/base.html' %}

{% load humanize %}

{% block content %}
    <div class="card-columns">

        {% if items %}
            {% for item in items %}
                <div class="card">
                    <a href="{% url 'view-item' item.id item.slug %}">
                        <img src="{{ item.image.url }}" class="card-img-top">
                    </a>

                    <div class="card-body">

                        <h6 class="card-title">
                            <a href="{% url 'view-item' item.id item.slug %}">{{ item.title }}</a>
                        </h6>

                        <h6><b>${{ item.price|intcomma }}</b></h6>

                        <div class="form-row mt-3">
                            <div class="col-auto">
                                <button class="btn btn-sm btn-secondary" onclick="cart('{{ item.id }}')"><span class="icon-shopping-cart mr-2"></span> Add to cart</button>
                            </div>

                            <div class="col-auto">
                                <select class="form-control btn-sm" style="height: auto" id="quantity-{{ item.id }}">
                                    <option value="1">Qnt: 1</option>
                                    <option value="2">Qnt: 2</option>
                                    <option value="3">Qnt: 3</option>
                                    <option value="4">Qnt: 4</option>
                                    <option value="5">Qnt: 5</option>
                                    <option value="6">Qnt: 6</option>
                                    <option value="7">Qnt: 7</option>
                                    <option value="8">Qnt: 8</option>
                                    <option value="9">Qnt: 9</option>
                                    <option value="10">Qnt: 10+</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}